.Header {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    gap: 50px;
    padding: 35px;
    background-color: rgba(30, 42, 151, 0.904);
}


.Header a {
    text-decoration: none;
    padding: 20px;
    color: bisque;
}

.About-Us {
    background-color: rgba(58, 58, 58, 0.589);
    text-align: center;
    padding: 50px;
    padding-left: 25%;
    padding-right: 25%;
}

.Contact-Us {
    background-color: rgba(58, 58, 58, 0.589);
    text-align: center;
    padding-bottom: 50px;
    padding-left: 25%;
    padding-right: 25%; 
}

.Locations {
    background-color: rgba(58, 58, 58, 0.589);
    text-align: center;
    padding-bottom: 50px;
    padding-left: 25%;
    padding-right: 25%; 
}



